@using ds.Tutorial.Model
@{
    ViewData["Title"] = "Work Page";
}

<div class="text-center">
    <h1 class="display-4">Working Page</h1>
</div>

<hr>

@model CreatePost
<form enctype="multipart/form-data" asp-action="FileUpload">
    <div class="form-group">
        <div class="col-md-4">
            <p>ファイルアップロード</p>
            <input type="file" asp-for="MyImage" multiple />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>
